{% extends 'share_layout/base.html' %}
{% load static %}
{% block header %}
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
{% endblock %}
{% block content %}
{% if user == author or user.is_moderator or user.is_superuser %}
<div class="article-edition-form">
    <form class="form-edition" action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}

        <script src="{% static 'blog/article_editor/js/remove_button.js' %}"></script>
        <button class="publish" name="publish" value="p" type="submit">Publish</button>
        <button class="draft" name="draft" value="d" type="submit">Draft</button>
        <button class="delete" name="delete" value="delete" type="submit">Delete</button>
    </form>
</div>
{% else %}
Access denied
{% endif %}

{% endblock %}
