<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Myblog</title>
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <div class="header">
        <a class="home-link" href="/" rel="home" title="My blog"><h1> My blog </h1></a>
        <a class="admin-link" href="/admin" title="admin"><h2>Admin panel</h2></a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>