{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block content %}
    <div class="posts">
        {% for post in post_list %}
        <a class="post-link" href="/post/{{ post.slug }}">
            <div class="post-block">
                <div class="post-title">{{ post.title }}</div>
                <div class="post-short-body">
                        {{ post.short_body }}
                </div>
            </div>
        </a>
        {% endfor %}
        {% if is_paginated %}
            {% load_pagination_info page_obj %}
        {% endif %}
    </div>
        <div class="right-panel">
        </div>
        <div class="bottom">
    </div>
{% endblock %}